Repository LukaszPodlipski/nuxt-complete-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Import font using head option in nuxt config
  nuxt.config.ts
Due: prettier --write, eslint --fix

Set default color for app texts
  app/assets/css/tailwind.css
  app/assets/scss/main.scss
  app/components/TemplateWelcome.vue
Due: prettier --write, eslint --fix

Apply pages and default layout
  app/app.vue
  app/components/TemplateWelcome.vue
  app/layouts/default.vue
  app/pages/index.vue
Due: prettier --write, eslint --fix

Fix layout shifting on scrollbar
  app/assets/scss/main.scss
Due: prettier --write

Improve example input
  app/assets/scss/_components.scss
Due: prettier --write

Add Pinia
  app/components/TemplateWelcome.vue
  nuxt.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Implement SSR ready external API config
  .env.example
  app/api/useExampleApi.ts
  app/components/TemplateWelcome.vue
  app/composables/useApi.ts
  app/layouts/default.vue
  app/plugins/api.ts
  app/stores/example.ts
  bun.lockb
  nuxt.config.ts
  package.json
Due: prettier --write, eslint --fix

Implement typography scss module
  app/assets/scss/_typography.scss
  app/assets/scss/main.scss
  app/components/TemplateWelcome.vue
  app/layouts/default.vue
Due: prettier --write, eslint --fix

Implement base PrimeVue inputs
  app/assets/css/tailwind.css
  app/assets/icons/info.svg
  app/assets/scss/_atoms.scss
  app/assets/scss/_components.scss
  app/assets/scss/_typography.scss
  app/assets/scss/main.scss
  app/assets/scss/theme/_buttons.scss
  app/assets/scss/theme/_inputs.scss
  app/components/TemplateWelcome.vue
  app/components/base/BaseButton.vue
  app/components/base/BaseField.vue
  app/layouts/default.vue
  app/types/common.d.ts
  locales/en.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Create nuxtjs.yml
  .github/workflows/nuxtjs.yml
Due: none

Add optional rollup dependency
  package.json
Due: none

Implement color tokens
  app/assets/css/tailwind.css
  app/assets/icons/arrow-right-line.svg
  app/assets/scss/_typography.scss
  app/assets/scss/main.scss
  app/assets/scss/theme/_buttons.scss
  app/assets/scss/theme/_inputs.scss
  app/components/TemplateWelcome.vue
  app/components/base/BaseButton.vue
  app/components/base/BaseField.vue
  app/layouts/default.vue
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx,vue,html}) or (any of: *.scss)
  eslint --fix: any of: *.{ts,tsx,vue,html}
